* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*----Dark----*/
  --dk-bg: #24272A;
  --dk-bg2: #1F2029;
  --dk-title: #ffffff;
  --dk-reader: #a1a1a1;
  --dk-description: #7D7D7D;
  --dk-detail: #3D4147;
  --dk-warn: #eb2d2d;
  --dk-button: #D53F8C; 

  /*----Light----*/
  --lg-bg: #24272A;
  --lg-title: #ffffff;
  --lg-description: #7D7D7D;
  --lg-detail: #3D4147;
  --lg-warn: #eb2d2d;
  --lg-button: #D53F8C;

  /*----Color-Filter----*/
  --fl-bg: #ffffff;
  --fl-text: #b1b1b2;
  --fl-button: #000000;
  --fs-bg: #F8F2E4;
  --fs-text: #D8CCBA;
  --fs-button: #9C600C;
  --fd-bg: #000000;
  --fd-text: #7E7D7D;
  --fd-button: #D53F8C
  --fb-bg: #F0F5F7;
  --fb-text: #000000;
  --fb-button: #1449E4;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--dk-bg);
  color: var(--dk-title);
}

body,
input,
text,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
