.chapterContentContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  position: relative;
  max-width: 1024px;
  user-select: none;

  span{
    color: var(--dk-reader);
    font-size: 18px;
  }
}
::-webkit-scrollbar{ 
  display: none
} 
.chapterContentHeader{
  position: relative;
  top: -100px;
  margin-bottom: 0px;
}
.chapterContentNavigation{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
.chapterContentControllerSize{
  margin-right: auto;
  strong{
    font-size: 32px;
    margin-right: 10px;
    padding: 10px;
    color: var(--dk-title);
    cursor: pointer;
    transition: all 0.3s;
  }
  strong:hover{
    color: var(--dk-button);
  }
}
.chapterContentControllerChapter{
  margin-left: auto;
  strong{
    font-size: 22px;
    margin-left: 10px;
    padding: 10px;
    color: var(--dk-title);
    cursor: pointer;
    transition: all 0.3s;
  }
  strong:hover{
    color: var(--dk-button);
  }
}
.chapterContentFinish{
  margin-right: auto;
  strong{
    font-size: 22px;
    padding: 10px;
    color: var(--dk-title);
  }
}

.chapterContentNavigationFinish{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#pageProgress{
  background-color: var(--dk-button);
  height: 0.2rem;
  position: fixed;
  left: 0;
  bottom: 0;
}
