.menuClick {
  font-size: 14px;
  background-color: var(--dk-detail);
  padding: 5px;
  width: 150px;
  height: auto;
  margin: 0;
  border-radius: 5px;
/* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: opacity 0.5s linear;
  li{ 
    margin-bottom: 4px;
  }
  li:hover {
    background: var(--dk-button);
    color:(var(--dk-title))  
  }
  li:last-child {
    margin-bottom: 0;
  }

}
