div.releaseContainerPost{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 489.375px;
  width: 270px;

  margin: 20px;
  padding: 15px;
  border-radius: 15px;
  background: var(--dk-detail);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

  .releaseTitlePost{
    margin-top: 10px;
  }

  div.releaseContentPost{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    min-height: 489.375px;

    div.releaseContentRowPost{
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      cursor: pointer;

      .releaseImgPost{
        width:80px;
        height:70px;
        min-width: 80px;
        min-width: 70px;
        border-radius: 6px;
      }

      .releaseInfoPost{
        display: flex;
        flex-direction:column;
        margin-left: 15px;
        padding-left: 5px;
        padding-right: 5px;

        .releaseTPost{
          margin-bottom: 5px;
          font-size: 17px;
          text-overflow: ellipsis;
        }

        .releasePPost{
          font-size: 12px;
          margin-bottom: 5px;
          text-overflow: ellipsis;
          color: var(--dk-description);
        }
      }
    }
  }
  div.releaseContentPost:first-child{
    margin-top: 0;
  }
}

@media (max-width: 1270px){
  .releaseTitlePost{
    font-size: 22px;
  }
}
@media (max-width: 1205px){
  div.releaseContainerPost{
    display: none;
  }
}
